<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">

                <div class="col-md-6 offset-md-3 mt-5">
                    <div class="card">
                        <h4 class="card-header">تسجيل حساب جديد </h4>
                        <div class="card-body">

                            <!-- <mat-form-field> -->
                            <p dir="rtl">
                                <mat-form-field appearance="outline">
                                    <mat-label>Outline form field</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Hint</mat-hint>
                                </mat-form-field>
                            </p>
                            <p dir="rtl">
                                <mat-form-field appearance="outline">
                                    <mat-label>Outline form field</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Hint</mat-hint>
                                </mat-form-field>
                            </p>
                            <p dir="rtl">
                                <mat-form-field appearance="outline">
                                    <mat-label>Outline form field</mat-label>
                                    <input matInput placeholder="Placeholder">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-hint>Hint</mat-hint>
                                </mat-form-field>
                            </p>
                            <!-- </mat-form-field> -->

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>