{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chorouk Association</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="{% static 'runtime-es20150811dcefd377500b5b1a.js' %}"></script>
<script type="text/javascript" src="{% static 'runtime-es50811dcefd377500b5b1a.js' %}"></script>
<script type="text/javascript" src="{% static 'polyfills-es5277e2e1d6fb2daf91a5c.js' %}"></script>
<script type="text/javascript" src="{% static 'polyfills-es2015ca64e4516afbb1b890d5.js' %}"></script>
<script type="text/javascript" src="{% static 'main-es2015c85acac5ba1e6b902ee3.js' %}"></script>
<script type="text/javascript" src="{% static 'main-es5c85acac5ba1e6b902ee3.js' %}"></script>






</body>
</html>
