.fake-background-header {
    background-color: black;
    height: 90px;
    width: 100%;
    margin-bottom: 2.5rem;
}

.ud-container {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

.ud-container * {
    color: #3c3b37;
}