.card-container {
  width: 300px;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: aliceblue;
  border-radius: 20px;
  overflow: hidden;

  .teams-container {
    width: 100%;
    min-height: 300px;
    background: url(../../../../assets/img/chorouk/versus-bg.png) no-repeat
      center center;
    background-size: cover;
    border-radius: 20px 20px 0 0;

    .team-a,
    .team-b {
      font-size: 32px;
      line-height: 32px;
      font-weight: 900;
      font-family: "Verdana";
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 2px 2px black, 2px 2px 2px black, 2px 2px 2px black,
        2px 2px 2px black;
      overflow-wrap: break-word;
    }

    .team-a {
      // text-shadow: 5px 2px 4px rgb(0,155,131),5px 3px 4px rgb(0,155,131);
      text-align: left;
      align-self: flex-start;
      margin-top: 10px;
    }

    .team-b {
      // text-shadow: 5px 2px 4px rgb(0,44,93),5px 3px 4px rgb(0,44,93);
      text-align: right;
      align-self: flex-end;
      margin-bottom: 15px;
    }
  }

  .title {
    font-size: 32px;
    color: #3c3b37;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
  }

  .deadline-over {
    text-align: center;
    color: #d24d57;
    font-size: 24px;
    font-weight: 600;
  }

  .icon {
    width: 25px;
    text-align: center;
    display: inline-block;
  }
}
