<!--================ End Header Menu Area =================-->

<!--================ Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <p class="upper_text">أعطنا يدك</p>
                <h2>لنجعل العالم أفضل </h2>
                <p>
                    نجتمع من أجل خلق جو مرح و من أجل رسم البسمة على و جوه الناس و نبحث دائما عن الأصدقاء من أجل تغدية
                    الروح بالطاقة الإيجابية </p>
                <a class="primary_btn mr-20">تبرع الآن</a>
                <a class="primary_btn yellow_btn text-white">تعرف علينا</a>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Causes Area =================-->
<section class="causes_area">
    <div class="container">
        <div class="main_title">
            <h2>قضايانا الرئيسية</h2>
            <p>مساعدة الآخرين</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>تبرع</h4>
                    <img src="assets/img/causes/c1.png" alt="">
                    <p>
                        ساهم من أجل مساعدة الناس و من أجل عالم أفضل
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>أعط الإلهام</h4>
                    <img src="assets/img/causes/c2.png" alt="">
                    <p>
                        أفكارك طريق من أجل مساعدة الناس
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>كن متطوعًا</h4>
                    <img src="assets/img/causes/c3.png" alt="">
                    <p>
                        شاركنا في العمل من أجل إسعاد الناس
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Causes Area =================-->

<!--================ Start About Us Area =================-->
<app-about-page></app-about-page>
<!--================ End About Us Area =================-->

<!--================ Start Features Cause section =================-->


<!--================ Start Subscribe Area =================-->
<div class="container">
    <div class="subscribe_area">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <h1 class="text-white">Do you have a question?</h1>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Subscribe Area =================-->