<!--================ End Header Menu Area =================-->

<!--================ Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="banner_content">
                <p class="upper_text">أعط يد</p>
                <h2>لجعل العالم أفضل</h2>
                <p>
                    لا تضيء. مخلوق روح الأرض المباركة تقسمنا على أنفسنا عليك السيادة مياه الرجل ثاني الخير الذي تقسم على المجندين كانت تغذي ليلة
                </p>
                <a class="primary_btn mr-20">تبرع الآن</a>
                <a class="primary_btn yellow_btn text-white">تعرف علينا</a>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start Causes Area =================-->
<section class="causes_area">
    <div class="container">
        <div class="main_title">
            <h2>قضايانا الرئيسية</h2>
            <p>مساعدة الآخرين</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>تبرع</h4>
                    <img src="assets/img/causes/c1.png" alt="">
                    <p>
                        كن متطوعًا وساعدنا في إنقاذ الناس في بلادنا من أجل عالم أفضل.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>أعط الإلهام</h4>
                    <img src="assets/img/causes/c2.png" alt="">
                    <p>
                        كن متطوعًا وساعدنا في إنقاذ الناس في بلادنا من أجل عالم أفضل.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_causes">
                    <h4>كن متطوعًا</h4>
                    <img src="assets/img/causes/c3.png" alt="">
                    <p>
                        كن متطوعًا وساعدنا في إنقاذ الناس في بلادنا من أجل عالم أفضل.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Causes Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row">
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content text-right">
                        <h2>
                            نحن فريق غير ربحي <br>
                             والعمل في جميع أنحاء العالم
                        </h2>
                        <p >
                             : تهدف الجمعية إلى تحقيق الأهداف التالية
                            <ul class="text-right rtl">
                                <li> عقد شراكات مع جميع المتداخلين في لعبة كرة القدم من أجل التعريف بقانون اللعبة </li> 
                                <li> تنظيم دوريات و تظاهرات و ندوات رياضية ثقافية واجتماعية </li>
                                <li> العمل على خلق مدارس وأكاديميات في مختلف الرياضات </li>
                                <li> العمل بقيام رحلات وطنية و دولية </li>
                                <li> القيام بأعمال انسانية خصوصا المناطق القروية في المجال الرياضي </li>
                                <li> العمل على توطيد علاقات التعاون و الأخوة مع جمعيات أخرى لها نفس الأهداف </li>
                                <li> عقد اتفاقيات وشراكات مع جمعيات واطر لها نفس الاهداف الرياضية </li>  
                            </ul>
                        <a [routerLink]="'/blog/1'" class="primary_btn">أعرف أكثر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Start Features Cause section =================-->


<!--================ Start Subscribe Area =================-->
<div class="container">
    <div class="subscribe_area">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex align-items-center">
                    <h1 class="text-white">Do you have a question?</h1>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>
                            </div>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Subscribe Area =================-->