<header class="header_area" (scroll)="onWindowScroll($event);" style="color: black;">
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" >
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" [routerLink]="'/'"><img src="assets/img/chorouk/logo-main.jpg" alt=""></a>
                    
                    <div class="nav-item pointer logo-label"><a class="nav-link">جمعية الشروق الفوسفاطية للرياضة</a></div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <fa-icon class="faBars" [icon]="faBars"></fa-icon>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <!-- <ul class="nav navbar-nav menu_nav ml-auto"> 
                            <li [routerLinkActiveOptions]="{ exact: true }" routerLink ="/" routerLinkActive="active" class="nav-item pointer"><a class="nav-link">Home</a></li>
                            <li routerLink ="about" routerLinkActive="active" class="nav-item pointer"><a class="nav-link">About</a></li>
                            <li class="nav-item pointer"><a class="nav-link" href="causes.html">Causes</a>
                            <li class="nav-item submenu dropdown pointer">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Pages</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item pointer"><a class="nav-link" href="events.html">Events</a>
                                    <li class="nav-item pointer"><a class="nav-link" href="event-details.html">Event Details</a>
                                    <li class="nav-item pointer"><a class="nav-link" href="elements.html">Elements</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown pointer">
                                <a routerLink ="blog" routerLinkActive="active" class="nav-link dropdown-toggle" role="button"
                                    aria-haspopup="true" aria-expanded="false">Blog</a>
                            </li>
                            <li class="nav-item pointer"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul> MAX -->
                        <ul class="nav navbar-nav menu_nav ml-auto"> 
                            <li [routerLinkActiveOptions]="{ exact: true }" routerLink ="/" routerLinkActive="active" class="nav-item pointer"><a class="nav-link">بوابة</a></li>
                            <li routerLink ="about" routerLinkActive="active" class="nav-item pointer"><a class="nav-link">معلومات عنا</a></li>
                            <!-- <li class="nav-item pointer"><a class="nav-link" href="causes.html">Causes</a> -->
                            <li class="nav-item submenu dropdown pointer">
                                <a  routerLink="/blog/1" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">مدونة</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item pointer" [routerLink]="['blog', 'sport', '1']"  ><a class="nav-link">رياضة</a>
                                    <li class="nav-item pointer"><a class="nav-link" routerLink="/blog/donation/1">تبرعات</a>
                                    <li class="nav-item pointer"><a class="nav-link" routerLink="/blog/news/1">أخبار</a></li>
                                    <li class="nav-item pointer"><a class="nav-link" routerLink="/blog/project/1">مشاريع</a></li>
                                    <li class="nav-item pointer"><a class="nav-link" routerLink="/blog/match/1">مبارايات</a></li>
                                </ul>
                            </li>                           
                            <li class="nav-item pointer"><a class="nav-link" >اتصل بنا</a></li>
                            <li class="nav-item pointer"><a  routerLink="games" class="nav-link" >مبارايات</a></li>
                            <li *ngIf="(userObservable | async)" class="nav-item pointer"><a (click)="onLogout()" class="nav-link" > logout {{ user.username }} </a></li>
                            <li *ngIf="!(userObservable | async)" class="nav-item pointer"><a routerLink="login" class="nav-link" > login  </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>