<!--================ Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>جمعية الشروق الفوسفاطية للرياضة</h2>
                <p>معلومات عنا</p>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row">
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb">
                        <img src="assets/img/ballon-aboutus.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content text-right">
                        <h2>
                            جمعية الشروق الفوسفاطية للرياضة الجديدة
                        </h2>
                        <p>
                            : تهدف الجمعية إلى تحقيق الأهداف التالية
                            <ul class="text-right rtl">
                                <li> القيام بمبادرات خيرية من أجل مساعدة المحتاجين </li>
                                <li> عقد شراكات مع جميع المتداخلين في لعبة كرة القدم من أجل التعريف بقانون اللعبة </li>
                                <li> تنظيم دوريات و تظاهرات و ندوات رياضية ثقافية واجتماعية </li>
                                <li> العمل على خلق مدارس وأكاديميات في مختلف الرياضات </li>
                                <li> العمل بقيام رحلات وطنية و دولية </li>
                                <li> القيام بأعمال انسانية خصوصا المناطق القروية في المجال الرياضي </li>
                                <li> العمل على توطيد علاقات التعاون و الأخوة مع جمعيات أخرى لها نفس الأهداف </li>
                                <li> عقد اتفاقيات وشراكات مع جمعيات واطر لها نفس الاهداف الرياضية </li>
                            </ul>
                            <a [routerLink]="'/blog/1'" class="primary_btn">أعرف أكثر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End About Us Area =================-->

<!--================Team Area =================-->
<section class="team_area section_gap">
    <div class="container">
        <div class="main_title">
            <h2>قابل متطوعنا</h2>
            <p>المكتب الساهر على تحقيق اهدافنا  </p>
        </div>
        <div class="row team_inner">
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/10.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>كراس</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/9.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>الراشيدي</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/8.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>معاد ناجي</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/2.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>بلفلاح</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/5.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>الطاهري محمود</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/3.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>العسري</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/1.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>سرار رشيد</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="img-fluid" src="assets/img/members/6.jpg" alt="">
                    </div>
                    <div class="team_name">
                        <h4>جبناوي</h4>
                        <p>عضو</p>
                        <p class="mt-20">
                             ...وصف صغير اختياري
                        </p>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="active"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!--================End Team Area =================-->

<!--================ Start CTA Area =================-->
<!-- <div class="cta-area section_gap overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1>Become a volunteer</h1>
                <p>
                    So seed seed green that winged cattle in. Gathering thing made fly you're
                    divided deep leave on the medicene moved us land years living.
                </p>
                <a href="#" class="primary_btn yellow_btn rounded">join with us</a>
            </div>
        </div>
    </div>
</div> -->
<!--================ End CTA Area =================-->